@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dongle-Bold";
  src: url("/fonts/Dongle-Bold.ttf") format("truetype");
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");

html,
body,
:root,
input {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  height: 100%;
  font-size: 62.5%;
}

main {
  padding-top: 7.1rem;
}

@media (min-width: 1024px) {
  main {
    padding-top: 13.1rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
